# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub/
build/

# Gradle related
.gradle/
captures/
gradle-wrapper.jar
/gradlew
/gradlew.bat
/local.properties

# Generated plugin registrant
GeneratedPluginRegistrant.java

# Keystore files
# Remember to never publicly share your keystore.
# See https://flutter.dev/docs/deployment/android#reference-the-keystore-from-the-app
key.properties
**/*.keystore
**/*.jks
