<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369111140699-bqt5ecpv25qh6iejij33mounckouctn3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369111140699-bqt5ecpv25qh6iejij33mounckouctn3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>369111140699-3ta87cop375p761blk4ee9gc2h6judc5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA-P-aYF99Ecit_e6lzUlxow4qs01aWCXw</string>
	<key>GCM_SENDER_ID</key>
	<string>369111140699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jebbylistings.jebby</string>
	<key>PROJECT_ID</key>
	<string>jebby-525d6</string>
	<key>STORAGE_BUCKET</key>
	<string>jebby-525d6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369111140699:ios:e17f2f566c21c6c3e1b27e</string>
</dict>
</plist>